<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        {% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}
        {% else %}{{ site.title | escape }}{% endif %}
    </title>

    <meta name="description" content="{{ content | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <link rel="preload" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css"></noscript>
    <link rel="stylesheet" href="{{"/assets/css/tiles.css" | relative_url }}">
    <link rel="stylesheet" href="{{"/assets/css/lora-font.css" | relative_url }}">
    <link rel="stylesheet" href="{{"/assets/css/roboto-font.css" | relative_url }}">
    <link rel="stylesheet" href="{{"/assets/css/open-sans-font.css" | relative_url }}">
    <link rel="preload" href="{{"/assets/main.css" | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{"/assets/main.css" | relative_url }}"></noscript>
    <link rel="stylesheet" href="{{"/assets/css/learning-path.css" | relative_url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

    <meta property='og:title' content='{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}
        {% else %}{{ site.title | escape }}{% endif %}'/>
    {% if page.background %}
        <meta property='og:image' content='{{ page.background }}'/>
    {% endif %}
    <meta property='og:url' content='{{ site.url }}{{ page.url }}'/>
    <meta property="og:description"   content="{{ content | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
    <meta property="og:type" content="article" />
    <meta property="article:author" content="Albion Bame" />
    {% if page.date %}
        <meta property="article:article:published_time" content="{{ page.date }}" />
    {% endif %}
</head>