#title-container{
    position: relative;
    box-shadow: 0px 1px 7px #DBDBDB;
    margin-top: 2rem;
}

#title-container .head{
    background-color: #FFFFFF;
    color: #563e6e;
    padding: 20px 30px;
    cursor: pointer;
    transition: 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title-container .arrow{
    color: #563e6e;
    font-size: 60px;
    transition: 0.25s ease;
    opacity: 0.3;
    transform: rotate(-90deg);
}

#title-container .head:hover .arrow{
    opacity: 1;
}

#title-container .head:hover, #title-container .active{
    background-color: #FFE77AFF;
}

#title-container .arrow-animate{
    transform: rotate(0deg);
    opacity: 1;
}

#title-container .content{
    background-color: #FFFFFF;
    display: none;
    padding: 20px 30px;
    color: #333333;
}

#title-container a {
    text-decoration: none;
}

.customInfobox {
    margin-top: 1rem;
    display: none;
}

.customInfobox .title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.showAnswer {
    float: right;
    font-size: 12px;
}

.hidden {
    display: none;
}

.single-post {
    margin-top: 2rem;
}

.post-preview p {
    margin: 0;
    line-height: normal;
    padding-top: 1rem;
}

article > h1, h2:not(.post-title), h3, h4, h5, h6 {
  padding-top: 1rem;
}

.meta {
    font-size: 0.7rem;
    display: inline-flex;
    align-items: center;
    font-style: italic;
}

.page-title .page-heading {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.page-title .page-heading h1 {
    word-break: break-word;
    display: inline-grid;
    align-items: center;
    max-width: 80%;
}

div[class^="exercise-"] {
    margin-top: 1rem;
}

.break {
    flex-basis: 100%;
    height: 0;
}
