---
layout: page
title: Medium Blog
background: '/img/bg-post.webp'
---

<style>
    #jsonContent img {
      height: 150px;
      width: auto;
      float: left;
      margin-right: 1rem;
      border: 1px solid;
    }
    ul#paginaton > li.page-item {
        list-style: none;
        margin: 0.5rem;
        float: left;
    }
    .medium-link {
        margin-bottom: 1rem;
    }
    .medium-link a {
        font-size: 1rem;
    }
    .medium-link a.rss {
        color: #9f9300;
    }
    .medium-link a.subscribe {
        color: #190697;
    }
    #jsonContent .medium-link img {
        width: 40px;
        height: auto;
    }
</style>
  
<div class="row" id="jsonContent">
    <div class="col-sm-12 text-right medium-link">
        <a href="https://albionbame.medium.com/" target="_blank">Stories by Albion Bame on Medium</a> |
        <a class="subscribe" href="https://albionbame.medium.com/subscribe" target="_blank">Subscribe</a> |
        <a class="rss" href="https://medium.com/feed/@albionbame" target="_blank">RSS Feed</a>
    </div>
    {% for article in articles %}
        <div class="card col-sm-12 mb-3 mx-auto mr-5 " style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title"><a href="{{ article.link }}">{{ article.title }}</a></h5>
                <img src="{{ article.image }}" style="width: 10em;" class="card-img-top" alt="Cover image">
                <p class="card-text">{{ article.description }}</p>
                <a href="{{ article.link }}" target="_blank" class="btn btn-outline-success">Read More</a>
            </div>
        </div>
    {% endfor %}
</div>
