---
layout: page
title: Recommended Books
background: '/img/bg-books.webp'
metaimage:  '/img/bg-books.jpg'
---

<p>In this page you'll find a list of books that I've read or that I'm planning to read. This books have helped me shape
    my career in the direction that I wanted. I hope you find this books helpful if you decide to read them or have read
    them already.</p>
<div class="row">
    {% for book in books %}
    <div class="col-sm-3 mb-3" style="width: calc(100% * (1/4) - 10px - 1px);">
        <a href="{{ book.fields.bookLink }}" target="_blank">
            <img src="{{ book.fields.imageLink }}" style="width: 10em;" class="card-img-top"
                alt="{{ book.fields.title }}">
            <h6>{{ book.fields.title }}</h6>
        </a>
    </div>
    {% endfor %}
    {% if books.length == 0 %}
        <h5 class="text-center col-sm-12" style="background-color: lightgrey; padding: 2rem;">List of books is comming soon.</h5>
    {% endif %}
</div>