---
layout: default
---

<!-- Page Header -->
<header class="masthead" {% if page.background %}
        style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}');" {% endif %}>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    {% if site.description %}
                    <span class="subheading">{{ site.description }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" data-title="homepage">

            {{ content }}

            <div class="posts"></div>

            <!-- Pager -->
            <div class="clearfix view-all-posts">
                <a class="btn btn-primary float-right" href="/posts">View All Posts &rarr;</a>
            </div>

        </div>
    </div>
</div>